
//@theme "/usr/share/rofi/themes/Paper.rasi"

//@theme "/home/roxor/.local/share/rofi/themes/windows11-grid-dark.rasi"

//@theme "/home/roxor/.local/share/rofi/themes/windows11-list-dark.rasi"

//@theme "/home/roxor/.local/share/rofi/themes/spotlight-dark.rasi"

@theme "/home/roxor/.local/share/rofi/themes/spotlight-dark.rasi"
