[Desktop Entry]
Icon=/home/roxor/.local/share/JetBrains/Toolbox/toolbox.svg
Exec=/nix/store/nclramh0jfnnjiy5vwdb863j3zar6r6g-jetbrains-toolbox-extracted/jetbrains-toolbox --minimize
Version=1.0
Type=Application
Categories=Development
Name=JetBrains Toolbox
StartupWMClass=jetbrains-toolbox
Terminal=false
MimeType=x-scheme-handler/jetbrains;
X-GNOME-Autostart-enabled=true
StartupNotify=false
X-GNOME-Autostart-Delay=10
X-MATE-Autostart-Delay=10
X-KDE-autostart-after=panel
