[Desktop Action History]
Exec=variety --history
Name=History

[Desktop Action Next]
Exec=variety --next
Name=Next

[Desktop Action PauseResume]
Exec=variety --toggle-pause
Name=Pause / Resume

[Desktop Action Preferences]
Exec=variety --preferences
Name=Preferences

[Desktop Action Previous]
Exec=variety --previous
Name=Previous

[Desktop Entry]
Actions=Next;Previous;PauseResume;History;Preferences;
Categories=GNOME;GTK;Utility;
Comment=Variety Wallpaper Changer
Exec=variety %U
Icon=variety
Keywords=Wallpaper;Changer;Change;Download;Downloader;Variety;
MimeType=text/uri-list;x-scheme-handler/variety;x-scheme-handler/vrty;
Name=Variety
StartupNotify=false
StartupWMClass=Variety
Terminal=false
Type=Application
